//SASS Variables
$primary-color: #4caf50;
$text-color: black;
$gradient-start: #04abff;
$gradient-end: #8efdc1;
$spacing: 16px;

//Mixin for gradient
@mixin gradient($color1, $color2) {
    background: linear-gradient(to bottom, $color1, $color2);
}

body {
    @include gradient($gradient-start, $gradient-end);
    font-family: "Arimo", sans-serif;
    margin: 70px 0;
    padding: 0;
    color: $text-color;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: $spacing;
    background-color: white;
    border: 2px 2px 2px black;
    // box-shadow: 4px 4px 10px black;
    border-radius: 10px;
}

// canvas #budgetchart {
//     max-height: 400px;
//     max-width: 400px;
// }

.budget-summary {
    text-align: center;
}

.budget-chart {
    canvas {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }
}

.header {
    text-align: center;
    padding-bottom: $spacing;
    border-bottom: 2px solid $primary-color;
}

.inputs, .transaction-list, .budget-summary {
    margin-bottom: $spacing;
}

#description, #amount {
    width: 90%;
    padding: $spacing / 2;
    margin: $spacing / 3 0 ;
}

h1, h2, h3 {
    text-align: center;
    color: $primary-color;
    margin: 0 0 $spacing;
}

button {
    background-color: $primary-color;
    color: white;
    border: none;
    width: 100%;
    padding: $spacing;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        background-color: darkgreen;
    }
}

#transcation-form input, #transaction-form select {
    border: 1px solid rgb(147, 146, 146);
    width: calc(100% - $spacing);
    margin-bottom: $spacing;
    padding: 8px;
}

.transaction-list ul {
    list-style: none;
    padding: 0;
}

.transaction-list li {
    background-color: rgb(235, 235, 235);
    padding: 16px;
    border-radius: 6px;
    border: 1px 1px 1px black;
}

// body {
//     background-color: aqua;
// }
// h1 {
//     font-size: large;
// }